@import url("mocha.css");

* {
    border: none;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar{
    background: alpha(@crust, 0.8);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#workspaces {
    margin: 0px 0px;
    padding: 8px 5px;
    border-radius: 8px;
    color: @crust;
}

#workspaces button {
    font-weight: bold;
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 8px;
    color: transparent;
    background: @base;
    transition: all 0.3s ease-in-out;
}

#workspaces button:not(.empty):not(.active):not(.visible):not(.special) {
    font-weight: bold;
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 8px;
    color: transparent;
    background: @surface1;
    transition: all 0.3s ease-in-out;     
}

#workspaces button:not(.empty):not(.active):not(.visible):not(.special):hover {
    font-weight: bold;
    background-color: @sapphire;
    color: @mantle;
    min-width: 60px;
    border-radius: 8px;
    background-size: 400% 400%;
}

#workspaces button:hover {
    font-weight: bold;
    background-color: @sapphire;
    color: @mantle;
    min-width: 60px;
    border-radius: 8px;
    background-size: 400% 400%;
}


#workspaces button.visible {
    font-weight: bold;
    padding: 0px 5px;
    margin: 0px 3px;
    min-width: 60px;
    border-radius: 8px;
    color: @mantle;
    background: @overlay0;
    transition: all 0.3s ease-in-out;    
}

#workspaces button.active {
    font-weight: bold;
    background-color: @sapphire;
    color: @mantle;
    border-radius: 8px;
    min-width: 60px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

/* #workspaces button.urgent {
    font-weight: bold;
    background-color: @red;
    color: @text;
    border-radius: 8px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
} */

.modules-left {
    margin-left: 15px;    
}

.modules-right {
    margin-right: 15px;    
}

.misc-modules {
    font-size: 14px;
}

#custom-appmenu{
    color: @blue;
    margin: 0 15px 0 0;
    font-size: 20px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0 10px 0 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    background: @surface0;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background: @overlay0;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @overlay2;
}

#clock.time {
    color: @mauve;
    font-family: "Neue Machina";
    font-weight: 600;
    font-size: 28px;
    margin: 5px 0 0 0;
}

#clock.date {
    margin: 3px 5px 0 0;
    font-size: 10px;
    font-family: "Neue Machina";
    font-weight: normal;
}

#custom-powermenu {
    color: @red; /* color3 */
}

#custom-swaync {
    color: @sky; /* color3 */
}

tooltip {
  border-radius: 6px;
  border: 1px solid @overlay0;
  background: @base;
  color: @text;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @green;
}

#bluetooth {
    color: @peach;
}

#custom-seperator {
    margin: 0 5px 0 20px;
    font-size: 15px;
}

#custom-powermenu,
#network,
#bluetooth,
#custom-swaync,
#pulseaudio.icon {
    margin: 0 0 0 20px;
    font-size: 20px;
}

#pulseaudio.volume {
    margin: 0 0 0 5px;
}