@import url("mocha.css");

* {
    border: none;
    border-radius: 0px;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    padding: 0;
    margin: 0;
    min-width: 10px;
}

window#waybar {
    background-color: alpha(@base, 0.8);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22);
}

tooltip {
    background: transparent;
    border: 1px solid @blue;
    border-radius: 12px;
}

tooltip label {
    color: @overlay1;
}

#workspaces {
    min-width: 0;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

/* base */
#workspaces button {
    color: transparent;
    background: linear-gradient(180deg, @surface2 0%, @surface0 100%);
    /* eventuelt @surface1 */
    transition: all 0.3s ease-in-out;
    min-width: 0;
    margin: 5px 0;
    border-radius: 3px;
}

/* active */
#workspaces button.active {
    background: linear-gradient(180deg, @blue 0%, @mauve 100%);
    color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    border-radius: 9999px;
    min-height: 80px;
}

/* hover */
#workspaces button:hover {
    background: linear-gradient(180deg, @mauve 0%, @blue 100%);
    /* eventuelt @mauve */
    color: transparent;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

/* urgent */
#workspaces button.urgent {
    background: linear-gradient(180deg, @red 0%, @maroon 100%);
    /* eventuelt @red */
    color: transparent;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#battery,
#network,
#pulseaudio {
    background-color: alpha(@base, 0.5);
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 15px 0;
}

#pulseaudio-slider slider {
    border-radius: 2px;
}

#pulseaudio-slider trough {
    min-height: 150px;
    border-radius: 5px;
}

#pulseaudio-slider highlight {
    border-radius: 5px;
}

.misc-modules {
    font-size: 15px;
}

#custom-launcher {
    color: @text;
}

#custom-seperator {
    margin-top: 5px;
    font-size: 20px;
}

#clock {
    color: @blue;
    font-family: "Neue Machina";
    font-weight: 600;
    font-size: 28px;
    margin: 15px 5px 0 5px;
}

#custom-notification {
    color: @text;
    margin: 10px;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @mauve;
}